.header {
  background: #2874f0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}

.header button {
  outline: none;
  border: none;
  background: white;
  padding: 3px 30px;
  font-size: 20px;
  color: #2874f0;
}

.logo_search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.account {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 350px;
  margin-left: 50px;
}

.search input {
  width: 430px;
  display: flex;
  align-items: center;
  padding: 8px;
  outline: none;
  border: none;
}

.search {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.151);
  margin-left: 10px;
  width: 500px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2874f0;
}

i {
  padding: 0 5px;
}

.logo {
  margin-top: 12px;
}

.logo img {
  height: 20px;
  object-fit: contain;
}

.logo p {
  font-style: italic;
  margin-top: -8px;
  display: flex;
  color: white;
  font-size: 14px;
}

.logo span {
  color: yellow;
  padding-left: 5px;
}